@import "../vars.css";

.close-icon {
    width: 5rem;
    height: 3.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    fill: var(--font-color);
}

.search-area {
    visibility: hidden;
    position: fixed;
    top: 0;
    width: 100%;
    height: 3.5rem;
    background: var(--bg-color);
}

.input-wrapper {
    display: flex;
    outline: none;
}

.search-bar {
    color: var(--font-color);
    background: none;
    width: 100%;
    height: 3.5rem;
    border: none;
    padding: var(--main-margin);
}

.search-bar::placeholder {
    color: var(--font-color);
}

.search-card {
    width: 100%;
    background: var(--bg-color-elevated);
    cursor: pointer;
    display: flex;
    padding: 2ex;
}

.search-card a {
    text-decoration: none;
    color: var(--font-color);
    width: 100%;
}

.search-card:hover > a {
    color: var(--primary-color);
}

.search-card:hover {
    filter: brightness(95%);
}

#results {
    background: var(--bg-color-elevated);
    height: min-content;
}

/*
Query para evitar cards de pesquisa ficarem
abaixo da barra de navegacao
*/
@media (min-width: 860px) {
    .search-card{
        margin-left: 5rem;
        width: calc(100% - 5rem);
    }
}