@import "../components/components.header.css";
@import "../components/components.navbar.css";
@import "../components/components.footer.css";
@import "../components/components.cards.css";
@import "../components/components.rows.css";
@import "../components/components.icon.css";
@import "../vars.css";

.grid__container {
  display: grid;
  height: inherit;
  width: 100%;
}

#hero {
  color: white;
  font-weight: bold;
  background: var(--bg-color);
  width: inherit;
  overflow: hidden;
}

#hero div {
  height: inherit;
  grid-template-rows: repeat(3 1fr);
  place-items: center;
  width: inherit;
}

.hero__imagem__fundo {
  height: 80%;
  grid-column: 1;
  grid-row: 2;
}

.hero__imagem__frente {
  grid-column: 1;
  grid-row: 1 / 4;
  align-self: end;
  justify-self: center;
  height: auto;
  width: 100%;
  object-fit: contain;
  max-height: 90vh;
  filter: drop-shadow(12px 24px 86px rgba(0, 0, 0, 0.2));
}

#sinopse {
  height: max-content;
}

#sinopse p {
  font-size: 1.2rem;
  line-height: 2.5rem;
}

#sinopse .flex-container {
  display: flex;
  font-size: 1rem;
  line-height: 2rem;
  color: var(--font-color);
}

.description {
  flex: 1;
  height: max-content;
  padding: 1rem 1.5rem 2rem 1.5rem;
}

.sinopse-images {
  flex: 1;
  width: 100%;
  overflow: hidden;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  height: 100%;
}

.dark .sinopse__fundo {
  opacity: 0.4;
}

.sinopse__fundo {
  mix-blend-mode: hard-light;
  opacity: 0.15;
  object-fit: cover;
  height: 100%;
  grid-row: 1;
  grid-column: 1;
}

.sinopse__frente {
  grid-row: 1;
  grid-column: 1;
  z-index: 100;
  align-self: end;
}

.tagline {
  grid-column: 1;
  grid-row: 1;
  align-self: end;
  text-transform: uppercase;
  width: 1000%;
  font-size: 6rem;
  font-weight: bold;
  color: #ffffff60;
}

.trailer-section {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 56.25%;
}

.trailer-wrapper iframe {
  padding: 1rem 1.5rem 2rem 1.5rem;
  border-radius: 3px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

#recommended,
#comments {
  padding: 1rem 1.5rem 2rem 1.5rem;
}

#new-comment-area {
  width: 100%;
  background: none;
  border: none;
  color: var(--font-color);
  height: auto;
}

.write-comment {
  padding: 1rem 0rem 2rem 0rem;
}
.text-wrapper {
  background: none;

  border-radius: 0.25rem;
  border: none;
  padding: 0.5rem;
  width: 50%;
}

.text-wrapper {
  background: var(--bg-color-darker);
  display: flex;
  align-items: center;
}
.comment-list {
  padding: 1rem 0rem 2rem 0rem;
}

.comment-wrapper {
  border: 1px solid var(--bg-color-elevated);
  border: none;
  padding: 0.5rem 0rem;
  border-radius: 0.25rem;
  margin-bottom: 0.75rem;
  display: flex;
  line-break: anywhere;
}
.comment-wrapper:last-child {
  margin-bottom: 0;
}

#author {
  color: var(--font-color-sub);
  font-size: 85%;
}
#comment {
  color: var(--font-color);
}
.pic-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  height: 2rem;
  width: 2rem;
  padding: 1rem;
  margin-right: 1rem;
  border-radius: 100%;
  background: #6200ee;
  font-weight: bold;
  margin-right: 0.75rem;
}
@media (max-width: 860px) {
  .description {
    width: 100%;
    padding: 1rem 1.5rem 2rem 1.5rem;
  }

  .description p {
    font-size: 0.8rem;
    line-height: 1.6rem;
  }

  .sinopse-images {
    display: none;
  }

  .sinopse-images * {
    display: none;
  }

  .text-wrapper {
    width: 100%;
  }
}
